:root {
	font-size: 15px;
}

body {
	margin: 0;
	min-height: 100vh;

	background-image:
	radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
	radial-gradient(closest-side, rgba(243, 11, 164, 1), rgba(243, 11, 164, 0)),
	radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(234, 234, 131, 0)),
	radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
	radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));
	background-size:
	130vmax 130vmax,
	80vmax 80vmax,
	90vmax 90vmax,
	110vmax 110vmax,
	90vmax 90vmax;
	background-position:
	-80vmax -80vmax,
	60vmax -30vmax,
	10vmax 10vmax,
	-30vmax -10vmax,
	50vmax 50vmax;
	background-repeat: no-repeat;
}




span {
	position: relative;
	z-index: 10;
	display: flex;
	min-height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 5rem;

}